.container {
  height: 9.375rem;
  width: 100%;

  padding-inline: 8rem;
  padding-block-start: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .second-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .dropdown-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      background-color: var(--gray);
    }
  }
}
