<div class="container">
  <img
    src="../../../../../assets/svgs/description-background.svg"
    alt="background"
  />
  <img
    src="../../../../../assets/svgs/ellipse.svg"
    alt="ellipse"
    class="ellipse"
  />
  <img src="../../../../../assets/svgs/man.svg" alt="man" class="man" />
  <h1 class="title">Great Sound With Solo Headphone</h1>
  <p class="description">
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using
    Lorem Ipsum.
  </p>

  <button nz-button nzType="primary" class="shop-button">
    Shop Now <span nz-icon nzType="right" nzTheme="outline"></span>
  </button>
</div>
