.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 20rem;
  height: 20rem;

  padding: 1rem;

  border-radius: 10px;

  background-color: var(--white);

  img {
    padding: 1rem;

    border-radius: 100rem;

    background-color: var(--primary-color);

    width: 4rem;
    height: 4rem;

    box-shadow:
      0 0 0 0.5rem rgba(28, 78, 142, 0.2),
      0 0 0 1rem rgba(28, 78, 142, 0.1);
  }

  p {
    font-size: 0.8rem;
  }

  p,
  h2 {
    padding: 0;
    margin: 0;

    text-align: center;
  }

  button {
    height: 2.5rem;

    background-color: var(--primary-color);

    border-radius: 5px;
  }
}
