.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    width: 11rem;
    height: 2.2rem;
  }

  .dropdown-button {
    border-radius: 5px 0 0 5px;

    height: 3.125rem;
  }

  .input-group {
    height: 3.125rem;
    width: 21.7rem;
  }

  .search-button {
    height: 3.125rem;
    width: 6.125rem;

    border-radius: 0 5px 5px 0;

    background-color: var(--primary-color);
  }
}
