/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: hsl(214, 67%, 33%);
  --gray: hsla(206, 4%, 66%, 0.05);
  --gray-2: hsla(206, 4%, 66%, 0.1);
  --black : hsl(0, 0%, 12%);
  --white: hsl(0, 0%, 100%);
}
