<div class="container">
  <h2>Enter OTP</h2>
  <p>
    We have share a code of your registered email address
    kristin.watson&#64;example.com
  </p>

  <div class="code-container">
    <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
    <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
    <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
    <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
    <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
  </div>

  <button nz-button nzType="primary">Send OTP</button>
</div>
