.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .login-button {
    width: 6.125rem;
    height: 3.125rem;

    border-radius: 5px;

    background-color: var(--primary-color);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
