.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .login-button {
    width: 6.125rem;
    height: 3.125rem;

    border-radius: 5px;

    background-color: var(--primary-color);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  height: 100%;

  .flex-end-content,
  .flex-start-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .flex-start-content {
    flex-grow: 1;
    overflow: auto;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      img {
        padding: 1rem;

        width: 6rem;
        height: 7rem;

        background-color: var(--gray);
      }

      .information {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;

        p,
        h3 {
          margin: 0;

          font-size: 0.8rem;
        }
      }
      .delete-button {
        span {
          color: var(--red);
        }
      }
    }
  }

  .flex-end-content {
    .subtotal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .viewCart-button,
    .checkout-button {
      border-radius: 5px;
    }

    .viewCart-button {
      background-color: var(--gray);
    }

    .checkout-button {
      background-color: var(--primary-color);
    }
  }
}

.overlay-container {
  width: 200px;
  height: 400px;
  background-color: gray;
}
