<div class="container">
  <button nz-button nzType="text" nzShape="circle">
    <img src="../../../assets/svgs/🔽%20Icon.svg" alt="search">
  </button>

  <button nz-button nzType="text" nzShape="circle">
    <img src="../../../assets/svgs/favorite.svg" alt="search">
  </button>
  <nz-badge [nzCount]="5" [nzStyle]="{ backgroundColor: '#1C4D8DFF' }">
    <button nz-button nzType="text" nzShape="circle">
      <img src="../../../assets/svgs/card.svg" alt="search">
    </button>
  </nz-badge>
  <button nz-button nzType="primary" class="login-button">
    Login
  </button>
</div>
